
* {
    margin: 0;
    padding: 0;
    border: 0px;
}

body {
    width: 100vw;
    background: radial-gradient(#eee,#444);
}

header {
    background-color: #30140D;
    height: 164px;
    display: table;
    width: 100%;
    display: flex;
    align-items: center;

}

.main-visual {
    width: 100vw;
    z-index: 0;
    background: rgba(0, 0, 0, .5) url(img/main_visual.png) 0 0 no-repeat;
    max-width: none;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.Top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 664px;
    background-position: center;
    background-size: cover;
    font-family: 'Averia Serif Libre', cursive;
}

.News {
    width: 100%;
    position: relative;
    display:flex;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
}

.News .box {
    position: relative;
}

.News .box .Big-img-1 .imgBox {
  position: relative;
  overflow: hidden;
}

.News .box .Big-img-1 .imgBox img {
  object-fit: cover;
  transition: transform 2s;
}

.News .box:hover .Big-img-1 .imgBox img {
 transform: scale(1.2);
}

.News .box .details {
  position: absolute;
  background: rgba(0,0,0,.8);
  transform: scaleY(0);
  transition: transform .5s;
}

.News .box:hover .details {
  transform: scaleY(1);
}

.News .box .details .content {
  position: absolute;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}


.Band {
    width: 100%;
    display: flex;
    position: relative;
    font-family: 'Averia Serif Libre', cursive;
}

.Movie {
    width: 100%;
    display: flex;
    position: relative;
    font-family: 'Averia Serif Libre', cursive;
}

h1 {
    text-shadow: 3px 3px 14px #575025;
    float: left;
    color: #fff;
    font-size: 35px;
    display: flex;
    align-items: center;
    font-family: 'Merienda One', cursive;
}

h2 {
    text-shadow: 3px 3px 14px #575025;
    font-size: 80px;
    color: #fff;
    font-family: 'Merienda One', cursive;
    padding-top: 80px;
}

h3 {
    width: 100%;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Merienda One', cursive;
    color: white;
}

ul {
    display: -webkit-flex;
    display: flex;

}

nav {
    overflow: hidden;
    margin-left: auto;
}

nav li {
    list-style-type: none;
    padding: none;
    float: right;
    padding: 45px;
}

nav ul li {
    font-size: 33px;
    }

nav ul li a {
    color: white;
    text-decoration: none;
}

.Big-img-1 {
    width: 50% ;
}

.Min-img-1 {
    width: 50%;
    }

.wrapper {
    width: 100%;
    position: relative;
    top: 164px;
    height: 664px;
}

.banner {
    position: relative;
    width: 100%;
}

.Title-News {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(144, 202, 249, 0.85);
    overflow: hidden;
    z-index: 2;
}

.Title-Band {
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(165, 214, 167, 0.85);
    z-index: 2;
}

.Title-Movie {
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(214, 165, 205, 0.85);
}

img {
    float: left;
    object-fit: cover;
}










/*
.News .box .Big-img-1 img {
    transition: transform 2s;
}

.News .box:hover .Big-img-1 img {
    transform: scale(1.2);
}

.News .Min-img-1 .box .Min-1 img {

    transition: transform 2s;
}

.News .Min-img-1 .box:hover .Min-1 img {
    transform: scale(1.2);
}

.News .Min-img-1 .box .Min-2 img {

    transition: transform 2s;
}

.News .Min-img-1 .box:hover .Min-2 img {
    transform: scale(1.2);
}

.News .Min-img-1 .box .Min-3 img {

    transition: transform 2s;
}

.News .Min-img-1 .box:hover .Min-3 img {
    transform: scale(1.2);
}

.News .Min-img-1 .box .Min-4 img {

    transition: transform 2s;
}

.News .Min-img-1 .box:hover .Min-4 img {
    transform: scale(1.2);
}


.Band .Min-img-2 .box .Min-5 img {

    transition: transform 2s;
}

.Band .Min-img-2 .box:hover .Min-5 img {
    transform: scale(1.2);
}

.Band .Min-img-2 .box .Min-6 img {

    transition: transform 2s;
}

.Band .Min-img-2 .box:hover .Min-6 img {
    transform: scale(1.2);
}

.Band .Min-img-2 .box .Min-7 img {

    transition: transform 2s;
}

.Band .Min-img-2 .box:hover .Min-7 img {
    transform: scale(1.2);
}

.Band .Min-img-2 .box .Min-8 img {

    transition: transform 2s;
}

.Band .Min-img-2 .box:hover .Min-8 img {
    transform: scale(1.2);
}


.Band .box .Big-img-2 img {

    transition: transform 2s;
}

.Band .box:hover .Big-img-2 img {
    transform: scale(1.2);
}
*/




/*
.News .box .Big-img-1 {
    position: relative;
    overflow: hidden;
}
*/



.Big-img-2 {
    width: 50%;
}

/*
.Band .box .Big-img-2 {
    position: relative;
    overflow: hidden;
}
*/

.Min-img-2 {
    width: 50%;
}
/*


.News .box {
    position: relative;
}

.News .Min-img-1 .box {
    position: relative;
}

.Band .box {
    position: relative;
}

.Band .Min-img-2 .box {
    position: relative;
}


.News .box .details {
    width: 80%
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transition: transform .5s;
}

.News .box:hover .details {
    transform: scaleY(1);
}
*/

/*
.News .Min-img-1 .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transition: transform .5s;
}
*/
/*

.News .Min-img-1 .box:hover .details {
    transform: scaleY(1);
}

.Band .Min-img-2 .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transition: transform .5s;
}

.Band .Min-img-2 .box:hover .details {
    transform: scaleY(1);
}


.News .box .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 10px;
    color: #fff;
}

.News .Min-img-1 .box .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 10px;
    color: #fff;
}

.Band .Min-img-2 .box .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 10px;
    color: #fff;
}

.Band .box .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 10px;
    color: #fff;
}

.News .Min-img-1 .box .Min-1 {
    position: relative;
    overflow: hidden;
}

.News .Min-img-1 .box .Min-2 {
    position: relative;
    overflow: hidden;
}

.News .Min-img-1 .box .Min-3 {
    position: relative;
    overflow: hidden;
}

.News .Min-img-1 .box .Min-4 {
    position: relative;
    overflow: hidden;
}

.Band .Min-img-2 .box .Min-5 {
    position: relative;
    overflow: hidden;
}

.Band .Min-img-2 .box .Min-6 {
    position: relative;
    overflow: hidden;
}

.Band .Min-img-2 .box .Min-7 {
    position: relative;
    overflow: hidden;
}

.Band .Min-img-2 .box .Min-8 {
    position: relative;
    overflow: hidden;
}
*/


.movie-T {
    width: 100%;
    margin: 0 auto;
}

.loading {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 175px;
  height: 100px;
}
  .loading span {
    display: block;
    background: #ccc;
    width: 7px;
    height: 10%;
    border-radius: 14px;
    margin-right: 5px;
    float: left;
    margin-top: 25%;
}
    .loading span:last-child {
      margin-right: 0px;
    }
    .loading span:nth-child(1) {
      animation: load 2.5s 1.4s infinite linear;
    }
    .loading span:nth-child(2) {
      animation: load 2.5s 1.2s infinite linear;
    }
    .loading span:nth-child(3) {
      animation: load 2.5s 1s infinite linear;
    }
    .loading span:nth-child(4) {
      animation: load 2.5s 0.8s infinite linear;
    }
    .loading span:nth-child(5) {
      animation: load 2.5s 0.6s infinite linear;
    }
    .loading span:nth-child(6) {
      animation: load 2.5s 0.4s infinite linear;
    }
    .loading span:nth-child(7) {
      animation: load 2.5s 0.2s infinite linear;
    }
    .loading span:nth-child(8) {
      animation: load 2.5s 0s infinite linear;
    }
    .loading span:nth-child(9) {
      animation: load 2.5s 0.2s infinite linear;
    }
    .loading span:nth-child(10) {
      animation: load 2.5s 0.4s infinite linear;
    }
    .loading span:nth-child(11) {
      animation: load 2.5s 0.6s infinite linear;
    }
    .loading span:nth-child(12) {
      animation: load 2.5s 0.8s infinite linear;
    }
    .loading span:nth-child(13) {
      animation: load 2.5s 1s infinite linear;
    }
    .loading span:nth-child(14) {
      animation: load 2.5s 1.2s infinite linear;
    }
    .loading span:nth-child(15) {
      animation: load 2.5s 1.4s infinite linear;
    }

@keyframes load {
  0% {
    background: #ccc;
    margin-top: 25%;
    height: 10%;
  }
  50% {
    background: #444;
    height: 100%;
    margin-top: 0%;
  }
  100% {
    background: #ccc;
    height: 10%;
    margin-top: 25%;
  }
}



@media screen and ( min-width:480px )
{
    .sp {
        display: none;
    }
}




@media screen and ( max-width:479px )
{
    * {
        margin: 0 ;
        padding: 0 ;

    }



    .Big-img-2{
        width: 100%;
    }
    .Big-img-1{
        width: 100%;
    }
    .Min-img-1{
        display: none;
    }
    .Min-img-2{
        display: none;
    }
    nav {
    display: none;
    }
    h1.title {
        display: none;
    }
    .main-visual h2 {
        display: none;
    }
    .pc {
        display: none;
    }


}
