* {
    margin: 0;
    padding: 0;
    border: 0px;
}

body {
    width: 100vw;
    background: radial-gradient(#eee, #444);
}

header {
    background-color: #30140D;
    height: 164px;
    display: table;
    width: 100%;
    display: flex;
    align-items: center;
}

.main-visual {
    width: 100vw;
    z-index: 0;
    background: rgba(0, 0, 0, .5) url(img/main_visual.png) 0 0 no-repeat;
    max-width: none;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.Top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 664px;
    background-position: center;
    background-size: cover;
    font-family: 'Averia Serif Libre', cursive;
}

.News {
    width: 100%;
    position: relative;
    display: flex;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Averia Serif Libre', cursive;
}

.News .box {
    position: relative;
    width: 50%;
}

.News .box .News-Big .imgBox {
    position: relative;
    overflow: hidden;
}

.News .box .News-Big .imgBox img {
    object-fit: cover;
    transition: transform 2s;
}

.News .box:hover .News-Big .imgBox img {
    transform: scale(1.2);
}

.News .News-Small {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.News .News-Small .box {
    width: 50%;
    height: 50%;
}

.News .box .details {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transition: transform .5s;
}

.News .box:hover .details {
    transform: scaleY(1);
}

.News .box .details .content {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.News .box .details .content h2 {
    text-align: center;
    top: 30px;
}

.News .box .details .content p {
    text-align: center;
    padding-top: 30px;
}

.Band {
    width: 100%;
    display: flex;
    position: relative;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Averia Serif Libre', cursive;
}

.Band .box {
    position: relative;
    width: 50%;
}

.Band .box .Band-Big .imgBox {
    position: relative;
    overflow: hidden;
}

.Band .box .Band-Big .imgBox img {
    object-fit: cover;
    transition: transform 2s;
}

.Band .box:hover .Band-Big .imgBox img {
    transform: scale(1.2);
}

.Band .Band-Small {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.Band .Band-Small .box {
    width: 50%;
    height: 50%;
}

.Band .box .details {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transition: transform .5s;
}

.Band .box:hover .details {
    transform: scaleY(1);
}

.Band .box .details .content {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.Band .box .details .content h2 {
    text-align: center;
    top: 30px;
}

.Band .box .details .content p {
    text-align: center;
    padding-top: 30px;
}

.Movie {
    width: 100%;
    display: flex;
    position: relative;
    font-family: 'Averia Serif Libre', cursive;
}

h1 {
    text-shadow: 3px 3px 14px #575025;
    float: left;
    color: #fff;
    font-size: 35px;
    display: flex;
    align-items: center;
    font-family: 'Merienda One', cursive;
}

h2 {
    text-shadow: 3px 3px 14px #575025;
    font-size: 80px;
    color: #fff;
    font-family: 'Merienda One', cursive;
    padding-top: 80px;
}

h3 {
    width: 100%;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Merienda One', cursive;
    color: white;
}

ul {
    display: -webkit-flex;
    display: flex;
}

nav {
    overflow: hidden;
    margin-left: auto;
}

nav li {
    list-style-type: none;
    padding: none;
    float: right;
    padding: 45px;
}

nav ul li {
    font-size: 33px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    position: relative;
    top: 164px;
    height: 664px;
}

.banner {
    position: relative;
    width: 100%;
}

.Title-News {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(144, 202, 249, 0.85);
    overflow: hidden;
    z-index: 2;
}

.Title-Band {
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(165, 214, 167, 0.85);
    z-index: 2;
}

.Title-Movie {
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(214, 165, 205, 0.85);
}

img {
    float: left;
    object-fit: cover;
}

.Movie-youtude {
    width: 100%;
    margin: 0 auto;
}

.loading {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 175px;
    height: 100px;
}

.loading span {
    display: block;
    background: #ccc;
    width: 7px;
    height: 10%;
    border-radius: 14px;
    margin-right: 5px;
    float: left;
    margin-top: 25%;
}

.loading span:last-child {
    margin-right: 0px;
}

.loading span:nth-child(1) {
    animation: load 2.5s 1.4s infinite linear;
}

.loading span:nth-child(2) {
    animation: load 2.5s 1.2s infinite linear;
}

.loading span:nth-child(3) {
    animation: load 2.5s 1s infinite linear;
}

.loading span:nth-child(4) {
    animation: load 2.5s 0.8s infinite linear;
}

.loading span:nth-child(5) {
    animation: load 2.5s 0.6s infinite linear;
}

.loading span:nth-child(6) {
    animation: load 2.5s 0.4s infinite linear;
}

.loading span:nth-child(7) {
    animation: load 2.5s 0.2s infinite linear;
}

.loading span:nth-child(8) {
    animation: load 2.5s 0s infinite linear;
}

.loading span:nth-child(9) {
    animation: load 2.5s 0.2s infinite linear;
}

.loading span:nth-child(10) {
    animation: load 2.5s 0.4s infinite linear;
}

.loading span:nth-child(11) {
    animation: load 2.5s 0.6s infinite linear;
}

.loading span:nth-child(12) {
    animation: load 2.5s 0.8s infinite linear;
}

.loading span:nth-child(13) {
    animation: load 2.5s 1s infinite linear;
}

.loading span:nth-child(14) {
    animation: load 2.5s 1.2s infinite linear;
}

.loading span:nth-child(15) {
    animation: load 2.5s 1.4s infinite linear;
}

@keyframes load {
    0% {
        background: #ccc;
        margin-top: 25%;
        height: 10%;
    }
    50% {
        background: #444;
        height: 100%;
        margin-top: 0%;
    }
    100% {
        background: #ccc;
        height: 10%;
        margin-top: 25%;
    }
}

@media screen and ( min-width:480px) {
    .sp {
        display: none;
    }
}

@media screen and ( max-width:479px) {
    * {
        margin: 0;
        padding: 0;

    }



    .Band-Big {
        width: 100%;
    }
    .News-Big {
        width: 100%;
    }
    .News-Small {
        display: none;
    }
    .Band-Small {
        display: none;
    }
    nav {
        display: none;
    }
    h1.title {
        display: none;
    }
    .main-visual h2 {
        display: none;
    }
    .pc {
        display: none;
    }

    .Show {
        display: none;
    }
}

.page-top {
    margin: 0;
    padding: 0;
}

.page-top p {
    margin: 0;
    padding: 0;

    position: fixed;
    right: 16px;
    bottom: 16px;
}

.move-page-top {
    display: block;
    background: #4E342E;
    width: 50px;
    height: 50px;

    color: #fff;
    line-height: 50px;
    text-decoration: none;
    text-align: center;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.move-page-top:hover {
    opacity: 0.85;
}